
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}
/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #05753d;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}
body{
    height: 100vh;
    background-color: var(--body-color);
   
}
body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}
body.dark nav{
    border: 1px solid #393838;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.logonavLogo img{
   height:78px;
   width: 80px;
}
.logo img{
  height: 40%;
  width:40%;
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:rgb(241, 237, 237);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}
.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.searchBox{
    position: relative;
}
.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}
.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: rgb(222, 215, 215);
    transform: rotate(-45deg);
    z-index: -1;
}
.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}
body.dark .search-field input{
    color: var(--text-color);
}
.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
body.dark .search-field i{
    color: var(--text-color);
}
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

 /* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(star.jpg);
    background-color:#08a054;
}
.heading{
    margin-top: 3%;
    text-align: center;
}
.heading h1{
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}
.heading img{
    height: 10%;
    width: 20%;
}
.heading p{
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 40%;
    height: 100%;
}
.content{
    padding: 35px;
}
.content h3{
    color: black;
    font-size: 24px;
    margin: 15px 0px;
}
.content p{
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
#myBtn{
    display: inline-block;
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2 ease;
}
#myBtn:hover{
    background-color: blue;
}
#more {
    display: none;
}
.heading img:hover{
 transform:scale(1.1);
 z-index:2;
}


@media(max-width:768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        padding: 15px;
        flex: 0 100%;
        max-width: 100%;
    }
} */
section{
    padding: 8% 10%;
  
  }
  .about-us{
    width: 100%;
    height: 100vh;
    background-color: #043312;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
  }
  .class-img img{
   
    max-width: 100%;
    width: 800px;
   height: 400px; 
  }
  .text{
    padding: 6% 0;
  }
  .text h4{
  color: rgb(244, 244, 194);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;  
  }
  .text h1{
    line-height: 46px;
    color: rgb(240, 230, 232);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;  
  }
  hr{
    width: 30%;
    border: none;
    height: 2px;
    background-color: #821313;
    margin-bottom: 50px;
  }
  .text p{
    max-width: 600px;
    color: peachpuff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 60px;
  }
  
  @media (max-width:1385px){
    section{
      padding: 4% 4%;
      transition: .3s;
    }
    .class-img img {
      width: 500px;
      height: auto;
      transition: .3s;
    }
  }
  @media (max-width:1240px){
    .text h1{
      font-size: 30px;
      transition: .3s;
    }
  }
  @media (max-width:1040px){
    .about-us{
      grid-template-columns: 1fr;
      height: 100%;
    }
    .class-img img {
      padding-top: 40px;
    }}

    header{
        background-color: #011e0e;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
      }
      
      .container {
        max-width: 1200px;
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
      }
      
      .container__left h1 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 500;
        color: rgb(49, 239, 192);
      }
      
      .container__left p {
        color: rgb(243, 241, 241);
        margin-bottom: 1rem;
      }
      
      .container__left button {
        padding: 1rem 2rem;
        margin-top: 1rem;
        outline: none;
        border: none;
        border-radius: 5px;
        background: linear-gradient(
          to right,
          rgb(30, 164, 50),rgb(18, 90, 36)
        );
        color: white;
        font-size: 1rem;
        cursor: pointer;
      }
      
      .container__right {
        display: grid;
        gap: 2rem;
      }
      
      .card {
        padding: 2rem;
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
      
      .card img {
        max-width: 75px;
        border-radius: 100%;
      }
      
      .card__content {
        display: flex;
        gap: 1rem;
      }
      
      .card__content span i {
        font-size: 2rem;
        color: rgb(231, 22, 57);
      }
      
      .card__details p {
        font-style: italic;
        color: green;
        margin-bottom: 1rem;
      }
      
      .card__details h4 {
        text-align: right;
        color: brown;
        font-size: 1rem;
        font-weight: 500;
      }
      
      @media (width < 1200px) {
        .container {
          gap: 3rem;
        }
      }
      
      @media (width < 900px) {
        .container {
          grid-template-columns: repeat(1, 1fr);
        }
      
        .container__right {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      
      @media (width < 750px) {
        .container__right {
          grid-template-columns: repeat(1, 1fr);
        }
      }



  
  footer{
    background-color: #05753d;
  }
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2em;
    color: #05753d;
    opacity: 0,9;
  }
  /* Hover affect on social media icon */
  .socialIcons a:hover{
    background-color: #05753d;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }
  .footerNav{
    margin: 30px 0;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    background-color: #05311b;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color: rgb(243, 239, 239);
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }
